.header {
  background-color: #fcfcfc;
  h1 {
    margin-bottom: 0;
  }
  &.sub_page {
    background-color: transparent;
    border-bottom: 1px solid #afafaf;
  }
}

.header__nav {
  padding: 1.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}

.subpage__nav {
  text-align: center;
}

.blogname h1 {
  font-size: 3rem;
}

ul {
  text-align: center;
}

h1 {
  padding: 1rem 0;
}

h2 {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ebebeb;
    &.sub_page {
      border-right: 1px solid #afafaf;
      border-bottom: none;
    }
  }

  .header__nav {
    padding: 2rem;
    height: 99%;
    flex-direction: column;
    align-items: flex-start;
    img {
      margin-bottom: 0;
    }
  }
  ul {
    text-align: left;
  }
  .subpage__nav {
    text-align: left;
  }
  h1 {
    padding: 3rem 0;
  }
  h2 {
    font-size: 1.5rem;
  }

  .blogname h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .header {
    width: 20%;
  }
}
