.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.sub_page {
    color: #ebebeb;
    background-color: transparent;
  }
}

.content {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .layout {
    display: block;
  }
  .content {
    flex-grow: none;
    width: 75%;
    margin-left: 25%;
  }
}

@media (min-width: 1440px) {
  .content {
    flex-grow: none;
    width: 80%;
    margin-left: 20%;
  }
}
