.subscribeSuccess, .subscribeFail, .subscribeForm {
  display: flex;
  width: 100%;
}

.subscribeFail, .subscribeSuccess {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: justify;
  visibility: hidden;
}
.subscribeFail {
  color: #f7674e;
}

.subscribeSuccess {
  margin: 1rem 0 1rem 0;
  color: #85cabc;
}

.subscribeButton {
  background-color: #B22C95;
  color: #ebebeb;
  border: 2px solid;
  border-color: #B22C95;
  font-weight: bold;
  border-radius: 5px;
  width: 120px;
  height: 60px;
  font-size: 1rem;
  margin-left: 10px;
  letter-spacing: 1px;
  transition: all 0.3s linear;

  &:hover {
    cursor: pointer;
    background: darken(#B22C95, 10%);
    border-color: darken(#B22C95, 10%);
  }
}

.subscribeInput {
  padding: 1rem 1.5rem;
  color: #3d559d;
  border-radius: 5px;
  height: 60px;
  border: none;
  width: 100%;
}

.subscribeLabel {
  flex-grow: 1;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.subscribeInputSuccessBorder {
  border: 10px solid #85cabc
}

.subscribeInputFailBorder {
  border: 10px solid #f7674e
}

@media (min-width: 768px) {
  .subscribeButton {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .subscribeButton {
    font-size: 1.4rem;
  }
}
