.subscribeButton {
    display: inline-block;
      
    border: none;
    background-image: none;
    background-color: #DD0505;
    color: white;

    letter-spacing: 1px;
    transition: all 0.1s linear;
    
    &:hover {
      cursor: pointer;
      background: darken(#DD0505, 15%);
      }    
}

.subscribeInfo {
    max-width: 1000px;
    padding: 1.5rem 1.25rem;
    font-size: 1.4rem;
    color: #EBEBEB;
    text-align: left;
    padding: 1rem;
    margin-right: 3rem;
    p {
    }
    h2 div p {
        margin-right: 3rem;
    }
}

.subscribeForm {
    display: flex;
    flex-direction: column;

}

.subscribeInput {
    padding: 1rem 1.5rem;
    color: #2a2a2a;
    width: 100%;
    border: none;
}

  @media (min-width: 768px) {
    .subscribeInfo {
      padding: 2rem;
    }
  }
  
  @media(min-width: 1440px) {
    .subscribeInfo {
      padding: 3rem;
    }
  }
