.subscribeForm {
    display: flex;
    width: 100%;
    margin-top: 4rem;
}

.subscribeButton {
    background-color: #9d3d85;
    color: #EBEBEB;
    border: 2px solid;
    border-color: #9d3d85;
    font-weight: bold;
    border-radius: 5px;
    width: 120px;
    height: 60px;
    font-size: 1.5em;
    margin-left: 10px;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    
    &:hover {
      cursor: pointer;
      background: darken(#9d3d85, 10%);
      border-color: darken(#9d3d85, 10%);
      }    
}


.subscribeInput {
    padding: 1rem 1.5rem;
    color: #3d559d;
    border-radius: 5px;
    height: 60px;
    border: none;
    width: 100%;
}

.subscribeLabel {
    flex-grow: 1;
    margin-right: 10px;
}

  @media (min-width: 768px) {
  
}
  
  @media(min-width: 1440px) {

  }
