.subpage_blurb {
  max-width: 1000px;
  padding: 1.5rem 1.25rem;
  p {
    color: #ebebeb;
    text-align: left;
    font-size: 1.04rem;
  }
  h2 div p {
    padding: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .subpage_blurb {
    padding: 2rem;
    p {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 1440px) {
  .subpage_blurb {
    padding: 3rem;
    p {
      font-size: 1.5rem;
    }
  }
}
